<h1>Profile</h1>
<p>Find me in app/views/profiles/new.html.erb</p>

<%= form_for :profile, url: profiles_path do |f| %>
  <p>
    <%= f.label :firstname, 'First Name' %><br>
    <%= f.text_field :firstname %>
  </p>
 
  <p>
    <%= f.label :lastname, 'Last Name' %><br>
    <%= f.text_field :lastname %>
  </p>

  <p>
    <%= f.label :email, 'E-mail' %><br>
    <%= f.email_field :email %>
  </p>
 
  <p>
    <%= f.label :password, 'Password' %><br>
    <%= f.password_field :password %>
  </p>

 <p>
    <%= f.label :bio, 'Biography' %><br>
    <%= f.text_field :bio %>
  </p>

   <p>
    <%= f.label :birthdate, 'Birth Date' %><br>
    <%= f.date_field :birthdate %>

  </p>

   <p>
    <%= f.label :interests, 'Interests' %><br>
    <%= f.text_field :interests %>
  </p>

<p>
    <%= f.label :petsok1, "Pets OK?", :value => "n" %><br>
    <%= f.radio_button :petsok1, "y" %>
   </p>

    <div class="field">
        <%= f.label :petsok, "Pets OK?" %> <br />
        <%= f.check_box :petsok, {}, true, false %> <br />
    </div>

  <p>
    <%= f.label :gender, "Male", :value => "m" %><br>
    <%= f.radio_button :gender, "m" %>
   </p>

  <p>
    <%= f.label :gender, "Female", :value => "f" %><br>
    <%= f.radio_button :gender, "f" %>
  </p>

  <p>
    <%= f.label :gender, "Transgender", :value => "t" %><br>
    <%= f.radio_button :gender, "t" %>
   </p>
   
  <p>
    <%= f.label :gender, "Not Specified", :value => "n" %><br>
    <%= f.radio_button :gender, "n" %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<h1>Home</h1>
<%= link_to "Home", controller: "welcome" %>
