
<%= render 'layouts/header' %>

<h1>Urbanbound Roommate Finder</h1>
<p>Welcome#index</p>
<p>Find me in app/views/welcome/index.html.erb</p>

<h2>Welcome</h2></br>
<%= link_to "New Profile", new_profile_path %></br>
<%= link_to "Profiles", profiles_path %></br>
<%= link_to "Candidates", candidates_path %></br>
<%= link_to "Photos", photos_path %></br>

<%= render 'layouts/footer' %>
