

<li><%= link_to "Home", root_path %></li>
<li><%= link_to 'New Profile', new_profile_path %></li>
<li><%= link_to "Profiles", profiles_path %></li>
<li><%= link_to "Candidate", candidates_path %></li>
<li><%= link_to "Message", candidates_path %></li>