<p>
  <strong>First Name:</strong>
  <%= @profile.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @profile.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Birth Date:</strong>
  <%= @profile.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= case @profile.gender
      when 'm'
        'Male'
      when 'f'
        'Female'
      when 't'
        'Transgender'
      when 'n'
        'Not Specified'
      when ''
        'Not Specified'
      when nil
        'Not Specified'
      else
        'Error'
      end %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @profile.interests %>
</p>

<p>
  <strong>Pets OK?:</strong>
  <%= if @profile.petsok == "true"
        'Yes'
      else
        'No'
      end
   %>
</p>

<p>
  <strong>Male OK?:</strong>
  <%= if @profile.gendermaleok == 'true'
        'Yes'
      else
        'No'
      end
   %>
</p>

<p>
  <strong>Female OK?:</strong>
  <%= if @profile.genderfemaleok == 'true'
        'Yes'
      else
        'No'
      end
  %>
</p>

<p>
  <strong>Transgender OK?:</strong>
  <%= if @profile.gendertransgenderok == 'true'
        'Yes'
      else
        'No'
      end
  %>
</p>

<p>
  <strong>Not Specified OK?:</strong>
  <%= if @profile.gendernotspecifiedok == 'true'
        'Yes'
      else
        'No'
      end
  %>
</p>
